{extend name="index"/}
{block name="title"}
系统管理员
{/block}
{block name="content"}
<style>
        .cities{
            background-color: #ccccff;
            color: #b40605;
            font-weight: 150;
            font-size: 30px;
            width:100%;
            height: 50px;
        }
    </style>
        <div class="cities" style="margin-top:0;  color: #b40605; width: 100%">
             <h5 class="col-md-offset-1" style="display: inline; margin: 0 0 0 240px;  font-weight: 150; font-size: 20px;">系统管理员，你好!</h5>
             <h5 class="" style="display: inline; margin: 0 0 0 60px;  font-weight: 150; font-size: 20px;">你的账号是xxxxxx</h5>
             <h5 class="" style="display: inline; margin: 0 0 0 162px;  font-weight: 150; font-size: 20px;"><a href="xiugaimima.html" title="我是超人" style="text-decoration:none;color: black;">修改密码</a></h5>
             <h5 class="" style="display: inline; margin: 0 0 0 100px;  font-weight: 150; font-size: 20px;"><a href="{:url('index/logout')}" title="我是超人" style="text-decoration:none;color: black;">退出登录</a></h5>
        </div>

        <div class="row" style="margin-top: 50px;margin-bottom:120px; ">
       
            <div class="col-md-6 col-md-offset-3">
                 <style>
                     .abc{
                            background-color: #D0D0D0;
                            color: #3399ff;
                            font-size: 18px;
                            width: 100%;
                            height: 26px;
                         }
                 </style>
                   <div class="abc" style="margin-top: 15px">修改招生管理员账号</div> 
                <form action="{:url('updatepersondata',['admin_id' => $admin['admin_id']])}" method="post">
                   <table class="" style="width: 100%;"> 

                      <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black" >
                            <p class="" style="display: inline;color: red;font-size: 20px">*</p>&nbsp;&nbsp;账号&nbsp;&nbsp;</td>
                        <td class="" style="border: 1px solid #ccccff;width: 70%;text-align: left;color: black" ><input name="account" type="text" class="form-control" placeholder="" value="{$admin['account']}" style="display: inline;height: 32px;width: 300px"></td>
                    </tr>
                    <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black" >
                            <p class="" style="display: inline;color: red;font-size: 20px">*</p>&nbsp;&nbsp;密码&nbsp;&nbsp;</td>
                        <td class="" style="border: 1px solid #ccccff;width: 70%;text-align: left;color: black" ><input value="{$admin['password']}" name="password" type="text" class="form-control" placeholder="" style="display: inline;height: 32px;width: 300px"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border: 1px solid #ccccff;  width: 20%;text-align: center;"><button class="btn btn-danger "  role="button" >更改保存</button></td>
                    </tr>
                 </table> 
               </form>
            </div>
        </div>

{/block}