{extend name="index"/}
{block name="title"}
招生管理员
{/block}
{block name="content"}
<style>
        .cities{
            background-color: #ccccff;
            color: #b40605;
            font-weight: 150;
            font-size: 30px;
            width:100%;
            height: 50px;
        }
    </style>
    <div style="margin-bottom: 120px;">
        <div class="cities" style="margin-top:0;  color: #b40605; width: 100%">
             <h5 class="col-md-offset-1" style="display: inline; margin: 0 0 0 240px;  font-weight: 150; font-size: 20px;">招生负责人:{$officer['name']}，您好！</h5>
             <h5 class="" style="display: inline; margin: 0 0 0 556px;  font-weight: 150; font-size: 20px;"><a href="{:url('personcenter',['officer_id' => $officer['officer_id']])}" style="text-decoration:none;color: black;">修改密码</a></h5>
             <h5 class="" style="display: inline; margin: 0 0 0 100px;  font-weight: 150; font-size: 20px;"><a href="{:url('index/logout')}" style="text-decoration:none;color: black;">退出登录</a></h5>
        </div> 
        <div class="row" style="margin-top: 50px">
            <div class="col-md-1 col-md-offset-2" style="margin: 0 0 0 240px">
                <table class="" style="width: 100%">
                    <tr>
                        <td class="" style="border: 1px solid #ccccff;text-align: center;height: 50px"><a class="ex1" href="{:url('index',['officer_id' => $officer['officer_id']])}" style="padding: 5px 6px">开始页面</a></td>
                    </tr>
                    <tr>
                        <td class="" style="border-style: solid;border-width: 1px;border-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 50px"><a class="ex1" href="#" style="padding:5px 2px;">考生信息管理</a></td>
                    </tr>
                    <tr>
                        <td class="" style="border-style: solid;border-width: 1px;border-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 50px"><a class="ex1" href="#" style="padding:5px 2px;">考生密码管理</a></td>
                    </tr>
                    <tr>
                        <td class="" style=" border-style: solid;border-width: 1px;border-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 50px"><a class="ex1" href="#" style="padding:5px 2px;">查看考生信息</a></td>
                    </tr>
                    <tr>
                        <td class="" style="border-botton-style: solid;border-botton-width: 1px;border-botton-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 50px;border-style: solid;border-width: 1px;border-color: #ccccff"><a class="ex1" href="#" style="padding:5px 2px;">录入考生成绩</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7 ">
                 <style>
                     .abc{
                        background-color: #ccccff;
                        color: #3399ff;
                        font-size: 18px;
                        width: 100%;
                        height: 26px;
                     }
                 </style>                 
                <table class="" style="width: 100%;border: 1px solid #ccccff;">
                     <tr>
                         <td class="" style="text-align: left;color: #0033cc;font-size: 18px"><strong>&nbsp;&nbsp;说明：</strong></td>
                     </tr>
                     <tr>
                         <td class="" style="text-align: left;color: black;font-size: 12px">&nbsp;&nbsp;&nbsp;（1）本功能能查询的考生的对应密码，在考生遗忘密码的情况下可以查询到密码信息；
                         </td>
                     </tr>
                     <tr>
                         <td class="" style="text-align: left;color: black;font-size: 12px">&nbsp;&nbsp;&nbsp;（2）在文本框输入遗忘密码的考生身份证号；</td>
                     </tr>
                     <tr>
                         <td class="" style="text-align: left;color: black;font-size: 12px">&nbsp;&nbsp;&nbsp;（3）点击查询，密码会显示到下个文本框中； </td>
                     </tr>
                     <tr>
                         <td class="" style="text-align: left;color: black;font-size: 12px">&nbsp;&nbsp;&nbsp;（4）完成所需功能后，请及时退出登录。
                         </td>
                     </tr>
                 </table> 
                  <div class="abc" style="margin-top: 35px">考生密码查询</div>
                  <form class="form-inline" action="{:url('searchPassword')}" method="post">
                  <table class="" style="width: 100%">
                      <tr style="height: 50px;border: 1px solid #ccccff;">
                          <td style="">
                                <div class="form-group">
                                     <label for="exampleInputName2">&nbsp;&nbsp;身份证号</label>
                                     <input type="text" class="form-control" id="exampleInputName2" name="idcard"  placeholder="eg:身份证号">
                                     <input hidden  type="text" name="officer_id" value="{$officer['officer_id']}">
                                </div>
                                <button  type="submit" class="btn btn-default">查询密码</button>
                          </td>
                      </tr>
                  </form>
                      <tr style="height: 50px;border: 1px solid #ccccff;">
                          <td>
                              <form class="form-inline">
                                <div class="form-group">
                                     <label for="exampleInputName2">&nbsp;&nbsp;考生密码</label>
                                     <input type="text" class="form-control" id="exampleInputName2" value="{$password}" placeholder="eg:国考英语四级">
                                </div>
                               </form>
                          </td>
                      </tr>
                  </table>
            </div>
        </div>
    </div>
{/block}