{extend name="index"/}
{block name="title"}
招生管理员
{/block}
{block name="content"}
<!-- // 新建学科包括新建科目
// 新建报名须知
// 个人中心，修改密码账号 -->
<style>
        .cities{
            background-color: #ccccff;
            color: #b40605;
            font-weight: 150;
            font-size: 30px;
            width:100%;
            height: 50px;
        }
    </style>
        <div class="cities" style="margin-top:0;  color: #b40605; width: 100%">
             <h5 class="col-md-offset-1" style="display: inline; margin: 0 0 0 240px;  font-weight: 150; font-size: 20px;">招生负责人:{$officer['name']}，您好！</h5>
             <h5 class="" style="display: inline; margin: 0 0 0 556px;  font-weight: 150; font-size: 20px;"><a href="{:url('personcenter',['officer_id' => $officer['officer_id']])}" style="text-decoration:none;color: black;">修改密码</a></h5>
             <h5 class="" style="display: inline; margin: 0 0 0 100px;  font-weight: 150; font-size: 20px;"><a href="{:url('index/logout')}" style="text-decoration:none;color: black;">退出登录</a></h5>
        </div> 
        <div class="row" style="margin-top: 50px">
            <div class="col-md-1 col-md-offset-2" style="margin: 0 0 0 240px">
                <table class="" style="width: 100%">
                    <tr>
                        <td class="" style="border: 1px solid #ccccff;text-align: center;height: 50px"><a class="ex1" href="{:url('index',['officer_id' => $officer['officer_id']])}" style="padding: 5px 8px">开始页面</a></td>
                    </tr>
                    
                </table>
            </div>
            <div class="col-md-7 ">
                 <style>
                     .abc{
                        background-color: #ccccff;
                        color: #3399ff;
                        font-size: 18px;
                        width: 100%;
                        height: 26px;
                     }
                 </style>
                 <div class="abc">新增考试信息</div>
                 <form class="form-inline" action="{:url('saveAndShowSubject',['officer_id' => $officer['officer_id']])}" method="post">
                 <table class="" style=" width: 100%" >
                      <tr style="height: 50px;border: 1px solid #ccccff;">
                          <td>
                                    <div class="form-group">
                                         <label for="exampleInputName2">科目</label>
                                         <input type="text" name="name" class="form-control" id="exampleInputName2"  style="width: 120px" placeholder="eg:国考英语四级">
                                    </div>
                                    <div class="form-group">
                                         <label for="exampleInputEmail2">报名开始时间</label>
                                         <input type="date" class="form-control" id="exampleInputEmail2"  style="width: 120px" name="start_date" placeholder="eg:2018-01-01">
                                    </div>
                                    <div class="form-group">
                                         <label for="exampleInputEmail2">报名结束时间</label>
                                         <input type="date" name="end_date" class="form-control"  style="width: 120px" id="exampleInputEmail2" placeholder="eg:2018-01-01">
                                    </div>
                                    <div class="form-group">
                                         <label for="exampleInputEmail2">考试时间</label>
                                         <input type="date" name="test_time" class="form-control"  style="width: 120px" id="exampleInputEmail2" placeholder="eg:2018-01-01">
                                    </div>
                          </td>
                      </tr> 
                      <tr style="height: 50px;border: 1px solid #ccccff;">
                          <td>
                                <div class="form-group">
                                     <label for="exampleInputEmail2">&nbsp;&nbsp;说明</label>
                                     <input style="width: 800px" name="introduce" type="text" class="form-control" id="exampleInputEmail2" placeholder="eg:大学英语四级考试大纲（Syllabus for College English Test —Band Four(CET-4)— ）由全国大学四、六级考试组委会制定。">
                                </div>
                          </td>
                      </tr> 
                      <tr style="height: 50px;border: 1px solid #ccccff;">
                          <td style="text-align: center;">
                              <button  type="submit" class="btn btn-default">保存考试信息</button>
                          </td>
                      </tr>                   
                 </table>
                 </form>
                 <div class="abc" style="margin-top: 25px">编辑或删除考试信息</div>
                 <table class="" style="width: 100%">
                     <tr style="height: 50px;">
                         <td style="width: 20%;text-align: center;border: 1px solid #ccccff;"> <strong>考试科目</strong></td>
                         <td style="width: 20%;text-align: center;border: 1px solid #ccccff;"><strong>报名开始时间</strong></td>
                         <td style="width: 20%;text-align: center;border: 1px solid #ccccff;"><strong>报名结束时间</strong></td>
                         <td style="width: 20%;text-align: center;border: 1px solid #ccccff;"><strong>说明</</td>
                         <td style="width: 20%;text-align: center;border: 1px solid #ccccff;"><strong>操作</</td>
                     </tr>
                     {volist name="subject" id="_subject" key="key"}
                     <tr style="height: 50px;">
                         <td style="width: 20%;text-align: center;border: 1px solid #ccccff;"> {$_subject->getData('name')}</td>
                         <td style="width: 20%;text-align: center;border: 1px solid #ccccff;">{$_subject->getData('start_date')}</td>
                         <td style="width: 20%;text-align: center;border: 1px solid #ccccff;">{$_subject->getData('end_date')}</td>
                         <td style="width: 20%;text-align: center;border: 1px solid #ccccff;">{$_subject->getData('introduce')}</td>
                         <td style="width: 20%;text-align: center;border: 1px solid #ccccff;">  <a href="{:url('editSubject',['officer_id' => $officer->getData('officer_id') , 'test_style_id' => $_subject->getData('test_style_id')])}">编辑</a>
                            &nbsp;
                           <a href="{:url('deleteSubject',['officer_id' => $officer->getData('officer_id') , 'test_style_id' => $_subject->getData('test_style_id')])}">删除</a></td>
                     </tr>
                     {/volist}
                 </table>
                 
            </div>
        </div>
{/block}