{extend name="index"/}
{block name="title"}
招生管理员
{/block}
{block name="content"}
<style>
        .cities{
            background-color: #ccccff;
            color: #b40605;
            font-weight: 150;
            font-size: 30px;
            width:100%;
            height: 50px;
        }
    </style>
        <div class="cities" style="margin-top:0;  color: #b40605; width: 100%">
             <h5 class="col-md-offset-1" style="display: inline; margin: 0 0 0 240px;  font-weight: 150; font-size: 20px;">招生负责人:{$officer['name']}，您好！</h5>
             <h5 class="" style="display: inline; margin: 0 0 0 556px;  font-weight: 150; font-size: 20px;"><a href="{:url('personcenter',['officer_id' => $officer['officer_id']])}" style="text-decoration:none;color: black;">修改密码</a></h5>
             <h5 class="" style="display: inline; margin: 0 0 0 100px;  font-weight: 150; font-size: 20px;"><a href="{:url('index/logout')}" style="text-decoration:none;color: black;">退出登录</a></h5>
        </div> 
        <div class="row" style="margin-top: 50px">
            <div class="col-md-1 col-md-offset-2" style="margin: 0 0 0 240px">
                <table class="" style="width: 100%">
                    <tr>
                        <td class="" style="border: 1px solid #ccccff;text-align: center;height: 50px"><a class="ex1" href="{:url('index',['officer_id' => $officer['officer_id']])}" style="padding: 5px 2px">开始页面</a></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 50px"><a class="ex1" href="kaosheng-xinxi.html" style="padding:5px 2px;">考生信息管理</a></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 50px"><a class="ex1" href="kaoshengmima.html" style="padding:5px 2px;">考生密码管理</a></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 50px"><a class="ex1" href="kaoshengxinxi.html" style="padding:5px 2px;">查看考生信息</a></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 50px;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #ccccff"><a class="ex1" href="changjiluru.html" style="padding:5px 2px;">录入考生成绩</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7 ">
                 <style>
                     .abc{
                        background-color: #ccccff;
                        color: #3399ff;
                        font-size: 18px;
                        width: 100%;
                        height: 26px;
                     }
                 </style>                 
                   <div class="abc" style="margin-top: 0px">指定查询考生信息</div>
                   <table class="" style="width: 100%">
                      <tr style="height: 50px;border: 1px solid #ccccff;">
                          <td style="width: 50%">
                              <form class="form-inline">
                                <div class="form-group">
                                     <label for="exampleInputName2">&nbsp;&nbsp;身份证号</label>
                                     <input type="text" class="form-control" id="exampleInputName2" placeholder="eg:国考英语四级">
                                </div>
                               </form>
                          </td>
                          <td style="text-align: center;width: 50%">
                              <button  type="submit" class="btn btn-default">点击查询</button>
                          </td>
                      </tr>
                  </table>
                  <div class="abc" style="margin-top: 25px">所有考生信息</div>
                  <table class="table table-hover" style="width: 100%">
                      <tr style="height: 31px;">
                          <td style="width: 30%">考生身份证号</td>
                          <td style="width: 20%">考生姓名</td>
                          <td style="width: 20%">考生考试地点</td>
                          <td style="width: 10%;height:31px;">详细信息</td>
                      </tr>
                      {volist name="student" id="_student" key="key"}
                      <tr style="border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #ccccff;height: 31px;">
                          <td style="width: 30%">{$_student['idcard']}</td>
                          <td style="width: 20%">{$_student['name']}</td>
                          <td style="width: 20%;text-align: left;"><a class="btn btn-danger" href="{:url('studentTestPlace',['officer_id' => $officer['officer_id']])}" role="button" style="height:31px;width: 110px">编辑考试地点</a></td>
                          <td style="width: 10%;text-align: center;"><a class="btn btn-danger" href="{:url('studentdetil',['officer_id' => $officer['officer_id'], 'stu_id' => $_student['stu_id']])}" role="button" style="height:31px;width: 70px">查看</a></td>
                      </tr>
                      {/volist}
                      
                  </table>
            </div>
        </div>
{/block}