{extend name="index"/}
{block name="title"}
登录
{/block}
{block name="content"}
<div class="row" style="margin-top: 50px; margin-bottom: 140px;" >
	<div class="col-md-4 col-md-offset-2">
	<h3>系统使用说明</h3>
	<table width="360" class="">
        <tr> 
          <td align="left" valign="top" class=""><span class="style1">1、</span></td>
          <td align="left" valign="top" class="">所有使用本平台的考生必须以真实的资料注册。</td>
        </tr>
        <tr> 
          <td align="left" valign="top" class=""><span class="style1">2、</span></td>
          <td align="left" valign="top" class="">每名考生只需注册一次，本平台提供各类别报名、结果查询、信息核对采集等功能。<br>
        </tr>
        <tr> 
          <td align="left" valign="top" class=""><span class="style1">3、</span></td>
          <td align="left" valign="top" class="">请勿在同一台电脑上同时登陆多个账号并修改申请表，以免您不小心把自己的信息填入了其他同学的表格里。</font>
		  </td>
        </tr>
        <tr> 
          <td align="left" valign="top" class=""><span class="style1">4、</span></td>
          <td align="left" valign="top" class="">若有任何疑问，请<a href="mailto:bdzsb@pku.edu.cn" target="_blank"><font color="blue">通过邮件（bdzsb@pku.edu.cn）</font></a>联系我们。<br>（邮件中请提供必要的个人信息）</td>
        </tr>
        <br>
        <tr> 
          <td colspan=2 align="left" valign="top" class="">
          	<br>
          	<a type="button" href="{:url('registered')}" value="注册新用户" class="btn btn-default">注册新用户</a>
        </tr>
      </table>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<h3>用户登陆</h3>
		<form action="{:url('login')}" method="post">
		  <div class="form-group">
		    <input type="text" name="idcard" class="form-control"  placeholder="身份证号" required >
		  </div>
		  <div class="form-group">
		    <input type="password" name="password" class="form-control" placeholder="密码" required>
		  </div>
      <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" name = "officer" value="officer" > 招生管理员登录
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" name = "admin" value="admin"> 系统管理员登录
        </label>
      </div>
		  <button type="submit" class="btn btn-info">登陆</button>
		</form>
	</div>
</div>
{/block}