{extend name="index"/}
{block name="title"}
用户
{/block}
{block name="content"}
 <style>
        .cities{
            background-color: #ccccff;
            color: #b40605;
            font-weight: 150;
            font-size: 30px;
            width:100%;
            height: 50px;
        }
    </style>
        <div class="cities" style="margin-top:0;  color: #b40605; width: 100%">
             <h5 class="col-md-offset-1" style="display: inline; margin: 0 0 0 240px;  font-weight: 150; font-size: 20px;">{$student->getData('name')}同学，你好!</h5>
             <h5 class="" style="display: inline; margin: 0 0 0 60px;  font-weight: 150; font-size: 20px;">你的身份证号码为：{$student->getData('idcard')}</h5>
             <h5 class="" style="display: inline; margin: 0 0 0 162px;  font-weight: 150; font-size: 20px;"><a href="{:url('person',['stu_id' => $student->getData('stu_id')])}"  style="text-decoration:none;color: black;">修改密码</a></h5>
             <h5 class="" style="display: inline; margin: 0 0 0 100px;  font-weight: 150; font-size: 20px;"><a href="{:url('index/logout')}"  style="text-decoration:none;color: black;">退出登录</a></h5>
        </div>  
        <div class="row" style="margin-top: 50px">
            <div class="col-md-1 col-md-offset-2" style="margin: 0 0 0 240px">
                <table class="" style="width: 100%">
                    <tr>
                        <td class="" style="border: 1px solid #ccccff;text-align: center;height: 50px"><strong><a href="{:url('index',['stu_Id' => $student->getData('stu_id')])}" style="color: #b40605;">开始页面</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border: 1px solid #ccccff;text-align: center;height: 50px"><strong><a href="{:url('basemasage',['stu_id' => $student->getData('stu_id')])}" style="color: #b40605;">填写个人信息</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 30px"><strong><a href="{:url('baoming',['stu_id' => $student->getData('stu_id')])}" style="color: #b40605;">我的报名</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 30px"><strong><a href="{:url('baominginfo')}" style="color: #b40605;">查看报名情况</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;border-bottom-style: solid;border-bottom-width: 1px;border-bottom-color: #ccccff;text-align: center;height: 30px"><strong><a href="xinxi-2.html" style="color: #b40605;">查询录取结果</a></strong></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7 ">
                 <style>
                     .abc{
                        background-color: #ccccff;
                        color: #3399ff;
                        font-size: 18px;
                        width: 100%;
                        height: 26px;
                     }
                 </style>
                 <div class="abc" style="margin-top:0">报名情况</div>
                 <table class="" style="width: 100%">
                    <tr style="height: 60px">
                         <td style="border: 1px solid #ccccff;width: 20%;text-align: center;">
                             科目名称
                         </td>
                         <td style="border: 1px solid #ccccff;width: 20%;text-align: center;">
                             考试时间
                         </td>
                         <td style="border: 1px solid #ccccff;width: 20%;text-align: center;">
                             考试地点
                         </td>
                         <td style="border: 1px solid #ccccff;width: 20%;text-align: center;">
                             备注
                         </td> 
                     </tr>
                     {volist name="test" id="_test" key="key"}
                     <tr style="height: 60px">
                         <td style="border: 1px solid #ccccff;width: 20%;text-align: center;">
                             {$_test['name']}
                         </td>
                         <td style="border: 1px solid #ccccff;width: 20%;text-align: center;">
                             {$_test['test_time']}
                         </td>
                         <td style="border: 1px solid #ccccff;width: 20%;text-align: center;">
                             {$_test['address']}
                         </td>
                         <td style="border: 1px solid #ccccff;width: 20%;text-align: center;">
                             
                         </td>
                     </tr>
                     {/volist}
                 </table>
                 <div class="abc" style="margin-top: 25px">录取结果</div>
                 <table class="" style="width: 100%">
                     <tr style="height: 60px">
                         <td style="border: 1px solid #ccccff;width: 20%;text-align: center;"></td> 
                     </tr>
                 </table>
            </div>
        </div>
{/block}