{extend name="index"/}
{block name="title"}
用户
{/block}
{block name="content"}
<style>
        .cities{
            background-color: #ccccff;
            color: #b40605;
            font-weight: 150;
            font-size: 30px;
            width:100%;
            height: 50px;
        }
    </style>
        <div class="cities" style="margin-top:0;  color: #b40605; width: 100%">
             <h5 class="col-md-offset-1" style="display: inline; margin: 0 0 0 240px;  font-weight: 150; font-size: 20px;">{$student->getData('name')}同学，你好!</h5>
             <h5 class="" style="display: inline; margin: 0 0 0 60px;  font-weight: 150; font-size: 20px;">你的身份证号码为：{$student->getData('idcard')}</h5>
             <h5 class="" style="display: inline; margin: 0 0 0 162px;  font-weight: 150; font-size: 20px;"><a href="{:url('person',['stu_id' => $student->getData('stu_id')])}" title="我是超人" style="text-decoration:none;color: black;">修改密码</a></h5>
             <h5 class="" style="display: inline; margin: 0 0 0 100px;  font-weight: 150; font-size: 20px;"><a href="{:url('index/logout')}" title="我是超人" style="text-decoration:none;color: black;">退出登录</a></h5>
        </div> 
        <div class="row" style="margin-top: 50px">
            <div class="col-md-1 col-md-offset-2" style="margin: 0 0 0 240px">
                <table class="" style="width: 100%">
                    <tr>
                        <td class="" style="border: 1px solid #ccccff;text-align: center;height: 50px"><strong><a href="{:url('index',['stu_Id' => $student->getData('stu_id')])}" style="color: #b40605;">开始页面</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 30px"><strong><a href="{:url('permasage',['stu_id' => $student->getData('stu_id')])}" style="color: #b40605;">填写个人信息</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 30px"><strong><a href="{:url('basemasage',['stu_id' => $student->getData('stu_id')])}" style="color: #b40605;">个人基本信息</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 30px;"><strong><a href="{:url('winer',['stu_id' => $student->getData('stu_id')])}" style="color: #b40605;">获奖情况</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 30px;"><strong><a href="{:url('study')}" style="color: #b40605;">学习经历</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 30px;"><strong><a href="{:url('family')}" style="color: #b40605;">家庭情况</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 30px;"><strong><a href="{:url('social')}" style="color: #b40605;">社会活动</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border-left-style: solid;border-left-width: 1px;border-left-color: #ccccff;border-right-style: solid;border-right-width: 1px;border-right-color: #ccccff;text-align: center;height: 30px;"><strong><a href="{:url('techang')}" style="color: #b40605;">个人特长</a></strong></td>
                    </tr>
                    <tr>
                        <td class="" style="border: 1px solid #ccccff;text-align: center;height: 50px"><strong><a href="{:url('baoming')}" style="color: #b40605;">我的报名</a></strong></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7 ">
                 <style>
                     .abc{
                        background-color: #ccccff;
                        color: #3399ff;
                        font-size: 18px;
                        width: 100%;
                        height: 26px;
                     }
                 </style>
                 <table class="" style="width: 100%;border: 1px solid #ccccff;">
                     <tr>
                         <td class="" style="text-align: left;color: #0033cc;font-size: 18px"><strong>&nbsp;&nbsp;填写说明：</strong></td>
                     </tr>
                     <tr>
                         <td class="" style="text-align: left;color: black;font-size: 12px">&nbsp;&nbsp;&nbsp;(1)请认真填写以下信息，填写完毕后点击最下方保存。</td>
                     </tr>
                     <tr>
                         <td class="" style="text-align: left;color: black;font-size: 12px">&nbsp;&nbsp;&nbsp;(2)个人信息填写完毕后方可进行报名申请。</td>
                     </tr>
                     <tr>
                         <td class="" style="text-align: left;color: black;font-size: 12px">&nbsp;&nbsp;&nbsp;(3)“<p class="" style="display: inline;color: red;">*</p>”为必填项</td>
                     </tr>
                 </table>
                 <div class="abc" style="margin-top: 25px">个人基本信息填写</div>
                <form action="{:url('wanshan')}" method="post">
                  <table class="" style=" width: 100%" >
                    <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black" >姓名&nbsp;&nbsp;</td>
                        <td class="" style="border: 1px solid #ccccff;width: 70%;text-align: left;color: black" > &nbsp;&nbsp;<input type="text" name="name" value="{$student->getData('name')}"></td>
                    </tr>
                    <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black" >身份证号码&nbsp;&nbsp;</td>
                        <td class="" style="border: 1px solid #ccccff;width: 70%;text-align: left;color: black" > &nbsp;&nbsp;<input type="text" name="idcard" value="{$student->getData('idcard')}"></td>
                    </tr>
                    <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black;" >
                            <p class="" style="display: inline;color: red;font-size: 20px">*</p>&nbsp;&nbsp;出生日期&nbsp;&nbsp;</td>
                        <td>
                            &nbsp;&nbsp;<input type="date" class="" name="birth">
                        </td>
                    </tr>
                    
                   
                    <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black;" >
                            <p class="" style="display: inline;color: red;font-size: 20px">*</p>&nbsp;&nbsp;毕业时间&nbsp;&nbsp;</td>
                        <td class="" style="border: 1px solid #ccccff;width: 70%;text-align: left;color: black" > 
                            &nbsp;&nbsp;
                            <select class="form-control" name="graduate_time" style="display: inline;height: 32px;width: 90px">
                                            <option style="font-size: 10px"></option>
                                            <option style="font-size: 10px" {eq name="$student->getData('graduate_time')" value="2013" }selected="true"{else /}{/eq}>2013</option>
                                            <option style="font-size: 10px" {eq name="$student->getData('graduate_time')" value="2014" }selected="true"{else /}{/eq}>2014</option>
                                            <option style="font-size: 10px" {eq name="$student->getData('graduate_time')" value="2015" }selected="true"{else /}{/eq}>2015</option>
                                            <option style="font-size: 10px" {eq name="$student->getData('graduate_time')" value="2016" }selected="true"{else /}{/eq}>2016</option>
                                            <option style="font-size: 10px" {eq name="$student->getData('graduate_time')" value="2017" }selected="true"{else /}{/eq}>2017</option>
                            </select>
                            年
                        </td>
                    </tr>
                    
                    <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black;" >
                            <p class="" style="display: inline;color: red;font-size: 20px">*</p>&nbsp;&nbsp;外语类别&nbsp;&nbsp;</td>
                        <td class="" style="border: 1px solid #ccccff;width: 70%;text-align: left;color: black" > 
                            &nbsp;&nbsp;
                            <select class="form-control" name="language_style" style="display: inline;height: 32px;width: 90px">
                                            <option style="font-size: 10px"></option>
                                            <option style="font-size: 10px"  {eq name="$student->getData('language_style')" value="英语" }selected="true"{else /}{/eq}>英语</option>
                                            <option style="font-size: 10px"  {eq name="$student->getData('language_style')" value="日语" }selected="true"{else /}{/eq}>日语</option>
                                            <option style="font-size: 10px"  {eq name="$student->getData('language_style')" value="俄语" }selected="true"{else /}{/eq}>俄语</option>
                                            <option style="font-size: 10px"  {eq name="$student->getData('language_style')" value="韩语" }selected="true"{else /}{/eq}>韩语</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black;" >
                            <p class="" style="display: inline;color: red;font-size: 20px">*</p>&nbsp;&nbsp;性别&nbsp;&nbsp;</td>
                        <td class="" style="border: 1px solid #ccccff;width: 70%;text-align: left;color: black" > 
                            &nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" name="sex" id="inlineRadio1" value="男" checked{eq name="$student->getData('sex')" value="男" }checked{else /}{/eq}> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" id="inlineRadio2" value="女" {eq name="$student->getData('sex')" value="女" }checked{else /}{/eq}> 女
                            </label>
                        </td>
                    </tr>
                    
                    <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black;" >
                            <p class="" style="display: inline;color: red;font-size: 20px">*</p>&nbsp;&nbsp;政治面貌&nbsp;&nbsp;</td>
                        <td class="" style="border: 1px solid #ccccff;width: 70%;text-align: left;color: black" > 
                            &nbsp;&nbsp;
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="中共党员"> 中共党员
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="中共预备党员"> 中共预备党员
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="共青团员"> 共青团员
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="群众"> 群众
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="其他"> 其他
                            </label>
                        </td>
                    </tr>
                    <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black" >
                            <p class="" style="display: inline;color: red;font-size: 20px">*</p>&nbsp;&nbsp;联系电话&nbsp;&nbsp;</td>
                        <td class="" style="border: 1px solid #ccccff;width: 70%;text-align: left;color: black" ><input type="text" class="form-control" name="phone" placeholder="" style="display: inline;height: 32px;width: 200px" value="{$student->getData('phone')}"></td>
                    </tr>
                    <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black" >
                            <p class="" style="display: inline;color: red;font-size: 20px">*</p>&nbsp;&nbsp;家庭地址&nbsp;&nbsp;</td>
                        <td class="" style="border: 1px solid #ccccff;width: 70%;text-align: left;color: black" ><input type="text" class="form-control" name="address" placeholder="" style="display: inline;height: 32px;width: 400px" value="{$student->getData('address')}"></td>
                    </tr>
                    <tr style="height: 35px">
                        <td class="" style="border: 1px solid #ccccff;width: 30%;text-align: right;color: black" >
                            <p class="" style="display: inline;color: red;font-size: 20px">*</p>&nbsp;&nbsp;邮箱&nbsp;&nbsp;</td>
                        <td class="" style="border: 1px solid #ccccff;width: 70%;text-align: left;color: black" ><input type="text" class="form-control" name="email" placeholder="" style="display: inline;height: 32px;width: 200px" value="{$student->getData('email')}"></td>
                    </tr>
                    <tr hidden="hidden">
                        <td><input type="text" name="stu_id" value="{$student->getData('stu_id')}"></td>
                    </tr>
                     <tr>
                        <td colspan ="2" style="border: 1px solid #ccccff;width: 20%;text-align: center;"><button class="btn btn-danger" href="xinxi-3.html" role="button" >保存信息</button></td>
                    </tr>
                 </table>
             </form>
            </div>
        </div>
{/block}
